.place__image {
  max-width: 460px;
  display: block;
}

@media (min-width: 426px) and (max-width: 1024px) {
  .place__image {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .place__image {
    margin: 0 auto;
    max-width: 340px;
  }
}

@media screen and (max-width: 635px) {
  .place__image {
    max-width: 100%;
  }
}