.place__paragraph {
    margin: 0 0 26px 0;
    width: 484px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place__paragraph:last-child {
    margin: 0;
}