.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 0;
}