.cover {
    background-image: url(../../images/__background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto 92px;
    max-width: 1184px;
}

@media (min-width: 426px) and (max-width: 768px) {
    .cover {
        margin: 0 auto 88px;
    }
}

@media (max-width: 425px) {
    .cover {
        margin: 0 auto 64px;
    }
}