.cover__title {
  max-width: 560px;
  margin: 0 0 32px 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 75%;
    margin: 0 0 16px 0;
    font-size: 32px;
    line-height: 35px;
  }
}