.header__list {
  margin: 18px 0 0 auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.header__list .header__item:last-child .header__lang-link {
  text-decoration: none;
}

@media (max-width: 767px) {
  .header__lang-list {
    margin: 14px 0 0 auto;
  }
}