.cover__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    background: rgb(42 44 47/ 0.3);
}

.cover__item:hover {
    background: rgb(42 44 47/ 0.8);
}