.cover__item {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  z-index: 1;
  aspect-ratio: 16/10;
}

.cover__item::after {
  content: '';
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.cover__item:hover::after {
  opacity: 0.8;
}