.intro__title {
    max-width: 690px;
    margin: 0 0 40px 0;
    padding: 0 442px 0 148px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}